<!DOCTYPE html>
<html>
<head>
<title>Personal Profile Web Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css?version=0.1">
<script src="vue.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<div id="app">
</head>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="https://www.facebook.com/frances.lepsot/" class="w3-bar-item w3-button" target="_blank"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.instagram.com/_ceslepsot/" class="w3-bar-item w3-button" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/frances-sophia-lepsot-121704287/" class="w3-bar-item w3-button" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div>
  
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>Hey, I'm Frances!</b></h1>
    <h6>Welcome to my website :) </h6>
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">
    
      <!-- About Me -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>About Me</h3>
        </div>

        <div class="w3-justify">
          <p><strong>I am a 2nd-year college student currently pursuing my education at Asia Pacific College. I grew up in the vibrant province of Pampanga, but I moved to Manila to chase pursue my academic dreams and expand my horizons in the bustling city. I am passionate about learning and exploring new opportunities, I’m excited about the journey ahead as I build my skills and experiences for the future.</p>
              </div>
      <hr>

      <!-- Education Details -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Education / Achievements</h3>
        </div>

        <div class="w3-justify">
              <ul>
        <li>Elementary Education: Graduated from St. Augustine Academy of Pampanga, Class of 2017.</li>
        <li>Junior High School: Completed Junior High School with Honors at St. Augustine Academy of Pampanga, Class of 2021.</li>
        <li>Senior High School: Graduated with Honors from University of the Assumption, Class of 2023.</li>
        <li>College: Currently enrolled at Asia Pacific College pursuing higher education and successfully completed 1st year as part of the Honor's List.</li>
    </ul> 
          <hr>
          
      <!-- Course Details -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Course</h3>
          <p><strong>Bachelor of Science in Computer Science with specialization in Cyber Security and Forensics</p>       
          <hr>
          
          
      <!-- IT Experience -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>IT Experience</h3>
        </div>

        <div class="w3-justify">
           <ul>
        <li>Programming Languages: Python, Java, JavaScript</li>
        <li>Web Development Tools: HTML, CSS, Vue.js</li>
        <li>Databases: SQL</li>
        <li>Networking: Basic understanding of LAN/WLAN, troubleshooting</li>
        <li>Operating Systems: Windows, Linux</li>
        <li>Other Tools: Git, VS Code</li>
    </ul>
          <hr>
          
         <!-- Hobbies & Interests -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Hobbies & Interests</h3>
        </div>

        <div class="w3-justify">
      <ul>
        <li>Traveling: I love exploring new places and cultures to gain a broader perspective and inspiration.</li>
        <li>Watching Movies: I enjoy analyzing films for storytelling, cinematography, and creative expression.</li>
        <li>Listening to Music: A passion for discovering diverse genres to relax and spark creativity.</li>
        <li>Crocheting: A creative outlet for designing and crafting unique handmade items, fostering patience and attention to detail.</li>
    </ul>
          <hr>
          
          <!-- Goals In Life -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Hobbies & Interests</h3>
        </div>

        <div class="w3-justify">
      <ul>
        <li>Pursue a Career in Cybersecurity: Aim to excel in the field by safeguarding digital environments and contributing to secure technological advancements.</li>
        <li>Achieve Financial Independence: Work towards building a stable and self-sustaining future.</li>
        <li>Travel the World: Explore diverse cultures and broaden horizons through enriching travel experiences.</li>
        <li>Make the Most of Every Day: Embrace personal growth, learning, and meaningful experiences in daily life.</li>
    </ul>
          <hr>
          
    <!-- END BLOG ENTRIES -->
    </div>

<!-- Picture Gallery -->
<h3>Picture Gallery</h3>
<div class="w3-row">
  <!-- Picture Gallery Card 1 -->
  <div class="w3-col l4">
    <div class="w3-white w3-margin">
      <img src="https://th.bing.com/th/id/OIP.YJhuG3vsNceF8VQhf1u6uAHaE8?rs=1&pid=ImgDetMain" alt="Treasure Concert" style="width:100%" class="w3-grayscale">
      <div class="w3-container w3-white">
        <h4>Hello Tour in Manila</h4>
      </div>
    </div>
  </div>

  <!-- Picture Gallery Card 2 -->
  <div class="w3-col l4">
    <div class="w3-white w3-margin">
      <img src="https://www.philippineconcerts.com/wp-content/uploads/2023/05/NCT-DREAM-Manila-3.jpg" alt="tds2" style="width:100%" class="w3-grayscale">
      <div class="w3-container w3-white">
        <h4>The Dream Show 2 in Manila</h4>
      </div>
    </div>
  </div>

  <!-- Picture Gallery Card 3 -->
  <div class="w3-col l4">
    <div class="w3-white w3-margin">
      <img src="https://i.pinimg.com/736x/e8/53/b6/e853b67e3d34ae315a5e5d631b386899.jpg" alt="tds3" style="width:100%" class="w3-grayscale">
        <h4>The Dream Show 3 in Manila</h4>
      </div>
    </div>
  </div>

<!--follow me-->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Follow Me</h4>
        </div>
        <div class="w3-container w3-xlarge w3-padding">
  		<a href="https://www.facebook.com/frances.lepsot/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
		<a href="https://www.instagram.com/_ceslepsot/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
		<a href="https://ph.pinterest.com/franceslepsot/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
		<a href="https://www.linkedin.com/in/frances-sophia-lepsot-121704287/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>

        </div>
      </div>
      <hr>

    </div>
  </div>
</div>

  <div class="w3-white w3-margin">
    <div class="w3-container w3-padding w3-black">
      <h4>Feedback Form</h4>
    </div>
    <div class="w3-container w3-white">
      <p>We would love to hear your thoughts!</p>
      <p><input class="w3-input w3-border" type="text" v-model="feedback.name" placeholder="Your Name"></p>
      <p><input class="w3-input w3-border" type="email" v-model="feedback.email" placeholder="Your Email"></p>
      <p><textarea class="w3-input w3-border" v-model="feedback.message" placeholder="Your Feedback" rows="4"></textarea></p>
      <p><button type="button" @click="submitFeedback" class="w3-button w3-block w3-brown">Submit Feedback</button></p>
    </div>
  </div>

  <div v-if="showFeedbackModal" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
      <div class="w3-container w3-white">
        <i @click="showFeedbackModal = false" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
        <h2 class="w3-wide">Thank You!</h2>
        <p>Thank you, {{ feedback.name }}. We appreciate your feedback!</p>
        <button type="button" @click="showFeedbackModal = false" class="w3-button w3-block w3-padding-large w3-brown w3-margin-bottom">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>LEPSOT WEBPROG SF231</p>
</footer>

</body>
</html>