body {
  background-image: url("https://i.pinimg.com/736x/de/51/56/de5156ba2bcffc180e5a0b3b3703ce60.jpg");
}

p.ex4 {
  outline: thick ridge pink;
}

a:link, a:visited {
  background-color: #ffcad4;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: pink;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
