h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}

body {
  font-family: "Open Sans";
  background-color: w3-black;
}

.w3-black {
  background-color: #6C5638 !important;
}

.w3-white {
  background-color: #e5d3b3 !important;
}

.w3-dark-grey {
  background-color: #987554 !important;
}

.w3-container h4, h3 {
  color: w3-white;
}

.w3-container p, ul li {
  color: #6C5638;
}

.w3-hover-opacity:hover {
  color: #d7b17e !important;
}
